.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  background-color: var(--background);
  color: var(--text-primary);
  padding: 16px;
  gap: 8px;
  border-radius: 8px;

  &&:hover {
    background-color: var(--secondary-bg);
    box-shadow: 0 4px 8px var(--accent);
  }

  img {
    height: 250px;
    object-fit: cover;
  }

  h3 {
    text-transform: uppercase;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    > * {
      margin: 0;
    }
  }
}
